.retro-boards {
    display: inline-block;
    padding: 13px 0 0 0;
    border: 1px solid grey;
    width: 26%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
}
.retro-boards > button {
    display: block;
    margin: 13px;
    padding: 6.5px;
    min-width: 80%;
}
.create-board {
    display: block;
}
.create-board > input {
    display: block;
    width: calc(100% - 52px);
}
.create-board > div {
    display: block;
}
.retro-board-title {
    background-color: darkgray;
    display: block;
    float: left;
    margin: 3.25px 6.5px 3.25px 13px;
    padding: 6.5px;
    width: 76%;
    border-radius: 3px;
}
.retro-board-title:hover {
    background-color: lightgrey !important;
    cursor: pointer;
    border: 1px solid grey;
}
.board {
    display: block;
}
.retro-board-menu {
    display: block;
    float: right;
}
.board-input {
    background: white;
    margin-left: 13px !important;
}
.board-icon {
    display: inline-grid;
    cursor: pointer;
}
.retro-board-heading {
    margin-left: 6.5px;
    text-decoration: underline;
    font-weight: bold;
}
