.app-header{
    background-color: gray;
}
.app-title{
    text-align: center;
    margin: 0;
}
body{
    margin: 0;
    background-color: lightgrey;
}
button{
    height: 36px;
    background-color: lightpink;
    outline: none;
    border: 1px solid grey;
    padding: 5px;
    margin: 13px;
}
button:hover{
    cursor: pointer;
    background-color: orange;
}