.app-header{
    background-color: gray;
}
.app-title{
    text-align: center;
    margin: 0;
}
body{
    margin: 0;
    background-color: lightgrey;
}
button{
    height: 36px;
    background-color: cadetblue;
    outline: none;
    border: 1px solid grey;
    padding: 5px;
    margin: 13px;
    border-radius: 3px;
}
button:hover:enabled{
    cursor: pointer;
    background-color: green;
}
input[type = "text"]{
    height: 26px;
    width: 200px;
    margin-left: 13px;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
}
.app-table{
    display: table;
}
.app-table-row{
    display: table-row;
}
.app-table-header{
    display: table-row;
    font-weight: bolder;
    background: #b9b0b0;
    height: 36px;
    padding: 0.5px;
}
.app-table-cell{
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}