.item-size-list {
    width: 100%;
    border-top: .5px solid grey;
}

.item-size-list button{
    min-width: 36px;
    margin: 5px;
}

.item-size-list button:hover{
    background-color: #569f6b !important;
}