.item-size-list{
    width: 100%;
    border: .5px solid grey;
    padding: 5px;
}

.item-size-list button{
    min-width: 36px;
    margin: 5px;
}

.item-size-list button:hover:enabled{
    background-color: #569f6b !important;
}