.user-list{
    width: 100%;
    border-top: 0.5px solid grey;
}
.clear-button,.show-button{
    margin: 0 13px 0 13px;
    height: 27px;
    background-color: #f5ecec;
}
.app-table-cell button:hover:enabled{
    background-color: #569f6b;
}
.remove-user-div{
    padding-left: 0;
    text-align: left;
}
.remove-user{
    height: auto;
    margin: 0 13px 0 0;
    background-color: #ad2424;
}
.first-head-cell{
    text-align: left;
    padding-left: 46px;
}